@font-face {
font-family: "Exo";
src: url("./fonts/Exo2.0-Thin.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.navbar__header{
    height: 44px;
    width: 1120px;
    font-size: 36px;
    color: #FFFFFF;
    font-family: Exo ;
    text-shadow: 0px 1px 1px #000000;
    text-align: center;
}


.block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}